/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-menu-panel {
  min-width: 10vw !important;
  max-width: 30vw !important;
  margin-left: -8px;
  margin-top: 24px;
}
